In [6]:
%matplotlib inline
import mpld3
mpld3.enable_notebook()

## Simulation Studies

In [2]:
import numpy as np
import math

In [19]:
dictionary= {
    "x0":[],
    "x1":[],
    "x2":[],
    "x3":[],
    "x4":[],
    "x5":[],
    "x6":[],
    "x7":[],
    "x8":[],
    "x9":[],
    "x10":[],
    "x11":[],
    "x12":[],
    "x13":[],
    "y":[]
}

In [20]:

for _ in range(3000):
    x0= np.random.uniform()
    x1= np.random.uniform()
    x2= np.random.uniform()
    x3= np.random.uniform()
    x4= np.random.uniform()

    y= 10*math.sin(math.pi*x0*x1)-20*(x2-0.5)**2+10*x3+5*x4+np.random.uniform()

    x10= x0+np.random.normal(0,0.01)
    x11= x1+np.random.normal(0,0.01)
    x12= x2+np.random.normal(0,0.01)
    x13= x3+np.random.normal(0,0.01)

    x5= np.random.uniform()*0.1
    x6= np.random.uniform()*0.1
    x7= np.random.uniform()*0.1
    x8= np.random.uniform()*0.1
    x9= np.random.uniform()*0.1


    dictionary["x0"].append(x0)
    dictionary["x1"].append(x1)
    dictionary["x2"].append(x2)
    dictionary["x3"].append(x3)
    dictionary["x4"].append(x4)
    dictionary["x5"].append(x5)
    dictionary["x6"].append(x6)
    dictionary["x7"].append(x7)
    dictionary["x8"].append(x8)
    dictionary["x9"].append(x9)
    dictionary["x10"].append(x10)
    dictionary["x11"].append(x11)
    dictionary["x12"].append(x12)
    dictionary["x13"].append(x13)
    dictionary["y"].append(y)

In [21]:
import pandas as pd

data= pd.DataFrame(dictionary)
data

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,0.760860,0.348422,0.613803,0.395632,0.575200,0.067656,0.053555,0.052702,0.031524,0.002627,0.749776,0.335309,0.588292,0.410158,14.702527
1,0.491120,0.497927,0.049582,0.692623,0.142164,0.059319,0.001798,0.018557,0.088864,0.009921,0.490231,0.488897,0.060536,0.709291,11.017391
2,0.376111,0.929257,0.384552,0.619067,0.641335,0.099895,0.028491,0.027332,0.030326,0.062800,0.377878,0.938293,0.376020,0.621777,18.512861
3,0.486507,0.585989,0.624593,0.505549,0.252508,0.050979,0.089883,0.075558,0.031429,0.076140,0.499207,0.584228,0.628392,0.506162,14.168037
4,0.608599,0.363825,0.666282,0.326364,0.715728,0.007425,0.011177,0.047563,0.048675,0.040963,0.610210,0.354331,0.675974,0.316385,13.204151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.774054,0.929854,0.269111,0.453180,0.543099,0.024206,0.040667,0.028901,0.083206,0.037870,0.776722,0.927067,0.253996,0.450106,14.211191
2996,0.229340,0.891975,0.458137,0.473843,0.810579,0.030370,0.050772,0.086147,0.068278,0.072545,0.233604,0.887529,0.454423,0.475880,15.522607
2997,0.173126,0.558385,0.641509,0.221139,0.495969,0.050460,0.044561,0.017628,0.061997,0.078259,0.182514,0.550748,0.645798,0.221849,8.023123
2998,0.593928,0.411882,0.314321,0.996582,0.446221,0.083091,0.091103,0.022757,0.006771,0.042927,0.603761,0.401910,0.312891,0.998104,18.742630
2999,0.717631,0.753751,0.871201,0.595420,0.272139,0.025441,0.036401,0.039366,0.057854,0.040014,0.712032,0.754767,0.867701,0.590861,15.257690

In [22]:
data.to_csv("./simulation_study_data.csv")

In [5]:
import pandas as pd

data= pd.read_csv("./simulation_study_data.csv", index_col=0)
data

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,0.760860,0.348422,0.613803,0.395632,0.575200,0.067656,0.053555,0.052702,0.031524,0.002627,0.749776,0.335309,0.588292,0.410158,14.702527
1,0.491120,0.497927,0.049582,0.692623,0.142164,0.059319,0.001798,0.018557,0.088864,0.009921,0.490231,0.488897,0.060536,0.709291,11.017391
2,0.376111,0.929257,0.384552,0.619067,0.641335,0.099895,0.028491,0.027332,0.030326,0.062800,0.377878,0.938293,0.376020,0.621777,18.512861
3,0.486507,0.585989,0.624593,0.505549,0.252508,0.050979,0.089883,0.075558,0.031429,0.076140,0.499207,0.584228,0.628392,0.506162,14.168037
4,0.608599,0.363825,0.666282,0.326364,0.715728,0.007425,0.011177,0.047563,0.048675,0.040963,0.610210,0.354331,0.675974,0.316385,13.204151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.774054,0.929854,0.269111,0.453180,0.543099,0.024206,0.040667,0.028901,0.083206,0.037870,0.776722,0.927067,0.253996,0.450106,14.211191
2996,0.229340,0.891975,0.458137,0.473843,0.810579,0.030370,0.050772,0.086147,0.068278,0.072545,0.233604,0.887529,0.454423,0.475880,15.522607
2997,0.173126,0.558385,0.641509,0.221139,0.495969,0.050460,0.044561,0.017628,0.061997,0.078259,0.182514,0.550748,0.645798,0.221849,8.023123
2998,0.593928,0.411882,0.314321,0.996582,0.446221,0.083091,0.091103,0.022757,0.006771,0.042927,0.603761,0.401910,0.312891,0.998104,18.742630
2999,0.717631,0.753751,0.871201,0.595420,0.272139,0.025441,0.036401,0.039366,0.057854,0.040014,0.712032,0.754767,0.867701,0.590861,15.257690

In [27]:
data.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,0.499960,0.502432,0.503506,0.508483,0.501966,0.050530,0.049512,0.049396,0.050039,0.050319,0.500070,0.502359,0.503420,0.508310,11.670789
std,0.289320,0.287700,0.287872,0.290214,0.288318,0.028926,0.028723,0.029040,0.028845,0.028575,0.289730,0.287980,0.288286,0.290468,4.944702
min,0.000663,0.000219,0.000282,0.000268,0.000032,0.000070,0.000001,0.000109,0.000020,0.000018,-0.015174,-0.013043,-0.015113,-0.014187,-2.588197
25%,0.244748,0.262781,0.253174,0.258745,0.250125,0.025903,0.024813,0.023723,0.025321,0.025869,0.244789,0.260300,0.255222,0.258586,8.211122
50%,0.500443,0.494942,0.511052,0.511233,0.507895,0.050848,0.048528,0.049197,0.049952,0.050771,0.497848,0.495960,0.508208,0.509949,11.715562
75%,0.751075,0.744337,0.758873,0.760939,0.749530,0.075437,0.074059,0.074534,0.074732,0.074869,0.750607,0.744657,0.757845,0.761707,15.292702
max,0.999702,0.999797,0.998665,0.999710,0.999938,0.099895,0.099958,0.099976,0.099980,0.099969,1.022576,1.017015,1.016532,1.017877,24.599514

In [6]:
y= np.array(data["y"])
# X= np.array(data[["x0", "x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "x11", "x12", "x13"]])
X= np.array(data[["x0", "x1", "x2", "x7", "x8", "x9", "x10", "x11", "x12", "x13"]])

In [7]:
binary_y= y>=y.mean()
# binary_y.astype(int)

In [33]:
binary_y= binary_y.astype(float)

In [8]:
for i in np.unique(binary_y):
    print(f"Class {i}: {len(np.nonzero(binary_y==i)[0])}")

Class False: 1493
Class True: 1507

In [9]:
index=[i for i in range(len(data))]
np.random.shuffle(index)
split= len(data) // 10 * 3
X_train= X[index[split:]]; X_val= X[index[:split]]
y_train= binary_y[index[split:]]; y_val= binary_y[index[:split]]

In [10]:
X_train.shape, X_val.shape

((2100, 10), (900, 10))

In [90]:
import importlib
importlib.reload(SimulationStudyBaseline_Model)

In [3]:
import torch
import utilities.SimulationStudyDataset as SimulationStudyDataset
data= SimulationStudyDataset.SimulationStudyDataset()

In [12]:
train_dataloader= torch.utils.data.DataLoader(data.return_training_dataset(), batch_size=256)
val_dataloader= torch.utils.data.DataLoader(data.return_validation_dataset(), batch_size=256)